<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--<link rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize.min.css') }}">-->
  <link rel="stylesheet" href="../static/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav>
      <div class="nav-wrapper teal darken-3">
        <a href="#" class="brand-logo center">Url shortner</a>
      </div>
    </nav>
    <div class="section"></div>
    <main class="row section">
      <form class="col s12 m8 offset-m2">
        <div class="row">
          <div class="input-field col s12 m8">
            <input type="url" id="url" class="validate" name="url" value="{{ main_url }}">
            <label for="url">URL</label>
          </div>
          <div class="input-field col s2">
            <button class="btn waves-effect waves-light teal" type="submit">
              Short it
              <i class="material-icons right">content_cut</i>
            </button>
          </div>
        </div>
        {% if short_url %}
        <div class="row">
          <div class="input-field col m8 s12">
            <input type="url" id="short_url" disabled class="validate" value="{{ request.url_root+short_url }}">
            <label for="url">Short URL</label>
          </div>
          <div class="input-field col s2">
            <button class="btn waves-effect waves-light teal" type="button" onclick=copyUrl()>
              Copy
              <i class="material-icons right">content_copy</i>
            </button>
          </div>
        </div>
        {% endif %}
      </form>
    </main>
    {% if main_url %}
    <div class="section row">
      <div class="col s8 offset-s2 m4 offset-m4">
        <div class="card teal darken-3">
          <div class="card-image">
            <img src="{{ qrcode(main_url) }}" alt="QR code for the URL" class="responsive-img">
          </div>
          <div class="card-action center">
            <a href="{{ qrcode(main_url) }}" class="btn waves-effect waves-light teal" download>
              Download
              <i class="material-icons right">file_download</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename = 'js/materialize.min.js') }}"></script>
  <script>
    function copyUrl(){
      var short_url = document.getElementById("short_url");
      navigator.clipboard.writeText(short_url.value)
    }
  </script>
</body>
</html>